<div class="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <p class="lead"><strong>Name: </strong> <%= user.name %></p>
      <p class="lead"><strong>Email: </strong> <%= user.email %></p>
      <p class="lead"><strong>City: </strong> <%= user.city %></p>
      <p class="lead"><strong>State: </strong> <%= user.state %></p>
      <p class="lead"><strong>Country: </strong> <%= user.country %></p>
      <p class="lead"><strong>Contact Number: </strong> <%= user.contact_number %></p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
